:root {
  font-family: 'Rebond Grotesque Bold', sans-serif;
  font-size: 16px;
  color: #262626;
}

.app {
  overflow: hidden;
}

.big-block {background: -o-linear-gradient(top, #E3F2FD, #FFF);background: -webkit-gradient(linear, left top, left bottom, from(#E3F2FD), to(#FFF));background: linear-gradient(180deg, #E3F2FD, #FFF);}

.big-block–gray {
  background: -o-linear-gradient(top, #F7F2FB 0%, #F9FAFC 100%);
  background: -webkit-gradient(linear, left top, left bottom, from(#F7F2FB), to(#F9FAFC));
  background: linear-gradient(180deg, #F7F2FB 0%, #F9FAFC 100%);
}

.big-block-dark {
  color: #ffffff;
  background: #0B0B22;
}

.app a,
.app button,
.contact-us__form input:focus,
.page-footer__info a::after {
  cursor: pointer;
  -webkit-transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease, opacity 0.5s ease, -webkit-box-shadow 0.5s ease, -webkit-transform 0.5s ease, -webkit-filter 0.5s ease;
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease, opacity 0.5s ease, -webkit-box-shadow 0.5s ease, -webkit-transform 0.5s ease, -webkit-filter 0.5s ease;
  -o-transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease, box-shadow 0.5s ease, transform 0.5s ease, opacity 0.5s ease, filter 0.5s ease;
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease, box-shadow 0.5s ease, transform 0.5s ease, opacity 0.5s ease, filter 0.5s ease;
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease, box-shadow 0.5s ease, transform 0.5s ease, opacity 0.5s ease, filter 0.5s ease, -webkit-box-shadow 0.5s ease, -webkit-transform 0.5s ease, -webkit-filter 0.5s ease;
}

.page-header__buttons button:first-child:hover,
.page-hero__footer a:last-child:hover,
.job__info-footer a:hover,
.contact-us__form button:hover,
.about-hero__links a:last-child:hover,
.redefining__info-footer a:last-child:hover,
.modal-window__form-route:hover {
  background-color: #EBEBEB;
  border-color: #EBEBEB;
}

.page-header__buttons button:last-child:hover,
.about-hero__links a:first-child:hover,
.modal-window__form--register .modal-window__form-submit:hover {
  background-color: #3FA9FC;
}

.page-hero__footer a:first-child:hover,
.job__info-footer a:first-child:hover,
.redefining__info-footer a:hover,
.modal-window__auth--login .modal-window__form-submit:hover {
  background-color: #F693FF;
}

.tomorrow__list-item a:hover,
.stories__item a:hover {
  -webkit-filter: invert(1);
          filter: invert(1);
}

.page-footer__info a:hover {color: #ffffff;}

.page-footer__info a:hover::after {-webkit-transform: translate3d(5px,0,0);transform: translate3d(5px,0,0);}

.page-footer__bottom a:hover {text-decoration: underline;}

.page-footer__mail:hover {opacity: 0.6;}



/* page header */

.page-header {
  position: fixed;
  top: 26px;
  right: 87px;
  left: 87px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 24px 20px;
  background: #ffffff;
  border-radius: 10px;
  -webkit-box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.04), 0px 4px 4px 0px rgba(0, 0, 0, 0.03);
          box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.04), 0px 4px 4px 0px rgba(0, 0, 0, 0.03);
  z-index: 9999;
}

.page-header__logo {
  position: absolute;
  left: 16px;
}

.page-header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page-header__nav a {position: relative;}

.page-header__nav a::before {
  position: absolute;
  bottom: -2px;
  left: 0;
  display: block;
  width: 100%;
  height: 2px;
  background-color: #262626;
  content: '';
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  -o-transition: transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.page-header__nav a:hover::before {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.page-header__nav a:not(:first-child) {
  margin-left: 32px;
}

.page-header__buttons {
  position: absolute;
  right: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page-header__buttons button {
  padding-right: 25px;
  padding-left: 25px;
  margin-left: 10px;
  line-height: 48px;
  background-color: #ffffff;
  border-radius: 40px;
  border: 1px solid #EBEBEB;
}

.page-header__buttons button:last-child {
  color: #ffffff;
  background-color: #018FFF;
  border-color: #018FFF;
}

.page-header__menu-btn {display: none;}


@media (max-width: 1199px) {

  .page-header__buttons,
  .page-header__nav {display: none;}

  .page-header {
    top: 0;
    right: 0;
    left: 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 22px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 22px;
    background-color: #ffffff;
    border-radius: 0;
  }

  .page-header__logo {position: static;}

  .page-header__logo img {width: 126px;}

  .page-header__menu-btn {
    display: inherit;
    width: 18px;
    height: 18px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='10' viewBox='0 0 18 10' fill='none'%3E%3Crect width='18' height='2' fill='%23030303'/%3E%3Crect y='8' width='18' height='2' fill='%23030303'/%3E%3C/svg%3E");
    background-position: center;
    background-repeat: no-repeat;
  }

  .page-header__menu-btn.active {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 18 18' fill='none'%3E%3Cg clip-path='url(%23clip0_675_2598)'%3E%3Crect x='1.80029' width='22.9094' height='2.54549' transform='rotate(45 1.80029 0)' fill='%23030303'/%3E%3Crect y='16.1992' width='22.9094' height='2.54549' transform='rotate(-45 0 16.1992)' fill='%23030303'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_675_2598'%3E%3Crect width='18' height='18' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
  }

  .page-header__nav {
    position: absolute;
    top: 69px;
    right: 0;
    left: 0;
    height: calc(100vh - 69px);
    background-color: #ffffff;
  }

  .page-header__nav.opened {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 7.5vw;
  }

  .page-header__nav a:not(:first-child) {
    margin-top: 7.5vw;
    margin-left: 0;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {

  .page-header {
    padding-top: 25px;
    padding-right: 26px;
    padding-bottom: 25px;
    padding-left: 26px;
  }

  .page-header__logo img {width: 150px;}

  .page-header__buttons {
    right: 70px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .page-header__nav.opened {font-size:  4.9vw;}

  .page-header__nav a:not(:first-child) {margin-top: 4.6vw;}
}


/* contact us */

.contact-us__wrapper {
  position: relative;
  max-width: 1028px;
  padding: 200px 20px 150px;
  margin: 0 auto;
  z-index: 1;
}

.contact-us__wrapper-title {
  font-size: 56px;
  color: #1D1C4F;
  text-align: center;
  letter-spacing: -1.4px;
}

.contact-us {
  position: relative;
  padding: 64px 36px;
  margin-top: 100px;
  border-radius: 30px;
  background-color: #3B82FE;
  color: #ffffff;
}

.contact-us__title {
  max-width: 560px;
  margin: 0 auto;
  font-size: 36px;
  text-align: center;
  line-height: 44px;
  letter-spacing: -0.9px;
}

.contact-us__pic {
  display: block;
  max-width: 575px;
  margin: 65px auto 0;
}

.contact-us__form {
  max-width: 775px;
  margin: 64px auto 0;
}

.contact-us__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact-us__form input {
  max-width: 200px;
  padding: 19px 18px;
  font-family: 'Rebond Grotesque Semibold', sans-serif;
  color: #ffffff;
  border-radius: 40px;
  border: 1px solid #ffffff;
}

.contact-us__form input:focus {
  -webkit-filter: invert(1);
          filter: invert(1);
}

.contact-us__form input::-webkit-input-placeholder {color: #ffffff;}

.contact-us__form input::-moz-placeholder {color: #ffffff;}

.contact-us__form input:-ms-input-placeholder {color: #ffffff;}

.contact-us__form input::-ms-input-placeholder {color: #ffffff;}

.contact-us__form input::placeholder {color: #ffffff;}

.contact-us__form button {
  padding: 18px 30px;
  margin-left: 10px;
  font-family: 'Rebond Grotesque Semibold', sans-serif;
  color: #1D1C4F;
  background-color: #ffffff;
  border-radius: 40px;
}

.contact-us__form input[type="checkbox"] {display: none;}

.contact-us__form label {
  position: relative;
  display: block;
  padding-left: 42px;
  margin-top: 65px;
  font-family: 'Aeonik Regular', sans-serif;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: -0.27px;
}

.contact-us__form label::before,
.contact-us__form label::after {
  position: absolute;
  top: calc(50% - 14px);
  left: 0;
  display: block;
  content: '';
  cursor: pointer;
}

.contact-us__form label::before {
  width: 28px;
  height: 28px;
  background-color: #ffffff;
  border-radius: 10px;
}

.contact-us__form label::after {
  display: none;
  top: calc(50% - 5px);
  left: 7px;
  width: 15px;
  height: 5px;
  border-left: 2px solid black;
  border-bottom: 2px solid black;
  -webkit-transform: rotate(319deg);
      -ms-transform: rotate(319deg);
          transform: rotate(319deg);
}

.contact-us__form input[type="checkbox"]:checked + label::after {display: block;}

.contact-us__stars {
  position: absolute;
  z-index: -1;
}

.contact-us__wrapper .contact-us__stars {
  top: 314px;
  left: -106px;
}

.contact-us__stars:last-of-type {
  top: 0;
  right: -174px;
  left: auto;
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
}

@media (max-width: 767px) {

  .contact-us__wrapper {padding: 50px 20px 20px;}

  .contact-us__wrapper-title {display: none;}

  .contact-us {
    padding: 24px 16px;
    margin-top: 24px;
    border-radius: 14px;
  }

  .contact-us__wrapper .contact-us {margin-top: 0;}

  .contact-us__title {
    max-width: 300px;
    font-size: 18px;
    line-height: normal;
    letter-spacing: -0.45px;
  }

  .contact-us__pic {
    max-width: 100%;
    margin-top: 24px;
  }

  .contact-us__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 24px;
  }

  .contact-us__form input {
    max-width: none;
    width: 100%;
    margin-top: -1px;
  }

  .contact-us__form button {
    width: 100%;
    margin-top: 10px;
    margin-left: 0;
  }

  .contact-us__form label {
    margin-top: 36px;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: -0.18px;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {

  .contact-us__wrapper {padding: 90px 26px 45px;}

  .contact-us__wrapper-title {
    font-size: 40px;
    letter-spacing: -1px;
  }

  .contact-us {
    padding: 64px 26px;
    margin-top: 72px;
  }

  .contact-us__form {margin-top: 60px;}

  .contact-us__row {-ms-flex-wrap: wrap;flex-wrap: wrap;}

  .contact-us__form input {
    max-width: none;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }

  .contact-us__form button {
    width: 100%;
    margin-top: 10px;
    margin-left: 0;
  }
}


/* page footer */

.page-footer {position: relative;}

.page-footer::before,
.page-footer::after {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 50%;
  height: 100%;
  background-color: #0B0B22;
  content: '';
}

.page-footer::after {
  left: 50%;
  background-color: #171837;
}

.page-footer__wrapper {
  position: relative;
  max-width: 1240px;
  padding: 146px 20px 56px;
  margin: 0 auto;
  color: #ffffff;
  background-color: inherit;
  z-index: 1;
}

.page-footer__bg {
  position: absolute;
  top: 120px;
  right: -8px;
  width: 411px;
  z-index: -1;
}

.page-footer__mail {
  display: block;
  margin-top: 26px;
  font-size: 46px;
  letter-spacing: -0.92px;
}

.page-footer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 179px;
}

.page-footer__info > * {width: 43%;}

.page-footer__info p:not(:first-child),
.page-footer__info a:not(:first-child) {
  display: block;
  margin-top: 20px;
}

.page-footer__info p,
.page-footer__info a {
  font-family: 'Aeonik Regular', sans-serif;
  font-size: 14px;
  color: #B6B6BD;
}

.page-footer__info a::after {
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-left: 6px;
  background-image: url("data:image/svg+xml,%3Csvg width='14' height='15' viewBox='0 0 14 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.5 7.49992H10.5M10.5 7.49992L7.58333 4.58325M10.5 7.49992L7.58333 10.4166' stroke='%23B6B6BD' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E ");
  background-position: center;
  vertical-align: middle;
  content: '';
}

.page-footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
  margin-top: 114px;
  font-size: 16px;
}

@media (max-width: 1199px) {
  .page-footer {
    background-color: #0B0B22;
  }

  .page-footer::before, .page-footer::after, .page-footer__bg {display: none;}
}

@media (max-width: 767px) {
  .page-footer__wrapper {padding: 48px 20px;}

  .page-footer__mail {
    font-size: 24px;
    letter-spacing: -0.48px;
  }

  .page-footer__info {
    display: block;
    margin-top: 36px;
  }

  .page-footer__info > * {
    width: 100%;
    margin-top: 36px;
  }

  .page-footer__info p,
  .page-footer__info a {
    font-size: 14px;
  }

  .page-footer__bottom {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 16px;
    margin-top: 36px;
    font-size: 12px;
  }

  .page-footer__bottom a {margin-right: 0;}
}

@media (min-width: 768px) and (max-width: 1199px) {
  .page-footer__wrapper {padding: 90px 26px 67px;}

  .page-footer__info {margin-top: 75px;}

  .page-footer__info address {width: 60%;}

  .page-footer__info nav {width: 30%;}

  .page-footer__bottom {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 72px;
    gap: 20px 32px;
  }
}


/* modal window */

.modal-window {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(11, 11, 34, 0.60);
  z-index: 99999;
}

.modal-window.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal-window > * {display: none;}

.modal-window > *.active {display: -webkit-box;display: -ms-flexbox;display: flex;}


.modal-window__auth {
  background-color: #ffffff;
  border-radius: 20px;
  overflow: hidden;
}

.modal-window__auth-img {
  position: relative;
  width: 514px;
}

.modal-window__auth-img img {width: 100%;}

.modal-window__form {
  position: relative;
  width: 281px;
  padding: 24px;
}

.modal-window__form--register {width: 532px;}

.modal-window__form-title {
  font-size: 30px;
  color: #111135;
  letter-spacing: -0.75px;
}

.modal-window__form-descr {
  margin-top: 4px;
  margin-bottom: 20px;
  font-size: 18px;
  font-family: 'Aeonik Regular', sans-serif;
  color: #52576B;
  letter-spacing: -0.27px;
}

.modal-window__form--register .modal-window__form-descr {margin-bottom: 4px;}

.modal-window__close {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 18px;
  height: 18px;
  background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_784_95)'%3E%3Crect x='1.7998' width='22.9094' height='2.54549' transform='rotate(45 1.7998 0)' fill='%23030303'/%3E%3Crect y='16.1992' width='22.9094' height='2.54549' transform='rotate(-45 0 16.1992)' fill='%23030303'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_784_95'%3E%3Crect width='18' height='18' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}

.modal-window__form input {
  display: block;
  width: 100%;
  padding: 18px 20px;
  margin-top: 16px;
  font-family: 'Rebond Grotesque Semibold', sans-serif;
  color: #111135;
  border-radius: 40px;
  border: 1px solid #E7E2E2;
  -webkit-transition: border-color 0.5s ease;
  -o-transition: border-color 0.5s ease;
  transition: border-color 0.5s ease;
}

.modal-window__form-row input[type="checkbox"] {display: none;}

.modal-window__form-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.modal-window__form-row input {width: 258px;}

.modal-window__form input:focus {border-color: #52576B;}

.modal-window__form-submit {
  width: 100%;
  padding: 18px 10px;
  margin-top: 16px;
  font-family: 'Rebond Grotesque Semibold', sans-serif;
  color: #ffffff;
  background-color: #F477FF;
  border-radius: 40px;
}

.modal-window__form-terms {
  position: relative;
  width: 234px;
  padding-left: 32px;
  margin-top: 14px;
  font-size: 14px;
}

.modal-window__form-terms::before,
.modal-window__form-terms::after {
  position: absolute;
  display: block;
  content: '';
  cursor: pointer;
}

.modal-window__form-terms::before {
  top: calc(50% - 12px);
  left: 0;
  width: 21px;
  height: 21px;
  border: 2px solid #3B82FE;
}

.modal-window__form-terms::after {
  display: none;
  top: calc(50% - 5px);
  left: 4px;
  width: 15px;
  height: 5px;
  border-left: 2px solid black;
  border-bottom: 2px solid black;
  -webkit-transform: rotate(319deg);
  -ms-transform: rotate(319deg);
  transform: rotate(319deg);
}

.modal-window__form-row input[type="checkbox"]:checked + .modal-window__form-terms::after {display: block;}

.modal-window__form-terms a {
  color: #3B83FE;
  text-decoration: underline;
}

.modal-window__form--register .modal-window__form-submit {
  width: 258px;
  background-color: #3B83FE;
}

.modal-window__form-route-help {
  margin-top: 65px;
  font-family: 'Aeonik Medium', sans-serif;
  color: #52576B;
  text-align: center;
  letter-spacing: -0.4px;
}

.modal-window__form-route {
  width: 100%;
  padding: 18px 10px;
  margin-top: 24px;
  border-radius: 40px;
  border: 1px solid #EBEBEB;
}

.modal-window__form--register .modal-window__form-route-help,
.modal-window__form-route {margin-top: 20px;}

@media (min-width: 768px) and (max-width: 1199px) {
  .modal-window__auth-img {width: 330px;}

  .modal-window__auth--register .modal-window__auth-img {display: none;}
}
